<ion-view title="Page" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <label class="item item-input">
          <input type="text" placeholder="Nombre" ng-model="contactForm.name">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="contactForm.email">
        </label>
        <label class="item item-input">
          <input type="number" placeholder="Móvil" ng-model="contactForm.phone">
        </label>
      <button id="page3-button1" class=" button button-positive  button-block " ng-click="addContact()">Adicionar Contacto</button>
        <ion-list id="page2-list1" class=" ">
          <ion-item>{{contact}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
