<ion-view title="page 2" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page2-list1" class=" ">
            <ion-item id="page2-list-item4" class="  ">Item</ion-item>
            <ion-item id="page2-list-item5" class="  ">Item</ion-item>
            <ion-item id="page2-list-item6" class="  ">Item</ion-item>
            <ion-item id="page2-list-item7" class="  ">Item</ion-item>
            <ion-item id="page2-list-item8" class="  ">Item</ion-item>
            <ion-item id="page2-list-item9" class="  ">Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>