<ion-view title="Page 2" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="page-button1" class=" button button-positive  button-block " ng-click="getCurrentDeviceMotion()">show info</button>
        <ion-list id="page-list1" class=" ">
            <ion-item id="page-list-item1" class="  ">{{x}}</ion-item>
            <ion-item id="page-list-item2" class="  ">{{y}}</ion-item>
            <ion-item id="page-list-item3" class="  ">{{z}}</ion-item>
            <ion-item id="page-list-item4" class="  ">{{timeStamp}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
