<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="page-button1" class=" button button-positive  button-block " ng-click="getDeviceInformation()">show info</button>
        <ion-list id="page-list1" class=" ">
            <ion-item id="page-list-item1" class="  ">{{device.platform}}</ion-item>
            <ion-item id="page-list-item2" class="  ">{{cordova}}</ion-item>
            <ion-item id="page-list-item3" class="  ">{{model}}</ion-item>
            <ion-item id="page-list-item4" class="  ">{{platform}}</ion-item>
            <ion-item id="page-list-item5" class="  ">{{uuid}}</ion-item>
            <ion-item id="page-list-item3" class="  ">{{version}}</ion-item>

        </ion-list>
    </ion-content>
</ion-view>