<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="page-button1" class=" button button-positive  button-block " ng-click="captureAudio()">Capture Audio</button>
        <button id="page-button2" class=" button button-royal  button-block " ng-click="captureImage()">Capture Image</button>
        <button id="page-button3" class=" button button-calm  button-block " ng-click="captureVideo()">Capture Image</button>

    </ion-content>
</ion-view>
