<ion-view title="Dialogs" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top " id="dialogs-tabs1">
        <ion-tab title="Alert" icon="ion-alert" href="#/page1/page2" id="dialogs-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Confirm" icon="ion-android-notifications" href="#/page1/page3" id="dialogs-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Prompt" icon="ion-android-clipboard" href="#/page1/page4" id="dialogs-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>