<!DOCTYPE html>
<html ng-app>
<head>
	<title>Lab14</title>
	<meta charset="utf-8" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>
    <table border="0">
        <tr>
            <td><input type="checkbox" ng-model="enableDisableButton">Disable Button</td>
            <td><button ng-disabled="enableDisableButton">Click Me</button></td>
        </tr>

        <tr>
            <td><input type="checkbox" ng-model="showHide">Show Button</td>
            <td><button ng-show="showHide">Click Me</button></td>
        </tr>

        <tr>
            <td><input type="checkbox" ng-model="showHide1">Hide Button</td>
            <td><button ng-hide="showHide1">Click Me</button></td>
        </tr>

        <tr>
            <td><p>Total click: {{ click_counter }}</p></td>
            <td><button ng-click="click_counter = click_counter + 1">Click Me!</button></td>
        </tr>

    </table>
</body>
</html>