.relative{
    position: relative;
    width: 300px;
    background: peachpuff;
    margin: 14px;
    padding: 12px;
}

#floater{
    float: right;
    width: 160px;
    height: 160px;
    padding: 10px;
    margin: 10px;
    background: greenyellow;
}