body{
  font-family: sans-serif;
  font-weight: 100;
  background:#ccc;
}
h1{
  text-align: center;
  color:#666;
  text-shadow:0px 2px 0px #fff;

}

.name{
  font-size:18px;
}

.course{
  font-style: italic;
  font-size: 13px;
}

.wrapper{
  width:650px;
  margin: 0 auto;
  box-shadow:5px 5px 5px #555;
  background: #fff;
  border-radius: 15px;
  padding: 10px;

}
.contact-item{
  border-bottom: thin solid #ccc;
  padding:10px;
}
