<ion-view title="Popups" id="page3">
    <ion-content padding="true" class="has-header">
      <button id="actionSheet-button1" class=" button button-positive  button-block " ng-click="showPopup()">Abrir popup</button>
      <button id="actionSheet-button2" class=" button button-calm  button-block " ng-click="showConfirm()">Confirm popup</button>
      <button id="actionSheet-button3" class=" button button-royal  button-block " ng-click="showAlert()">Alert popup</button>
    </ion-content>
</ion-view>
