<ion-view title="Action Sheet" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-slide-box>
      <ion-slide>
        <div class="box blue">
          Slide 1!
          <img src="http://placehold.it/350x150" alt="">
          <button class="button button-light button-positive" ng-click="nextSlide()">Next slide!</button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box red">
          Slide 2!
          <img src="http://placehold.it/350x150/FFFFFF/ABCDF11" alt="">
          <button class="button button-light button-calm" ng-click="previousSlide()">Previous slide!</button>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
