body {
    font-family: Arial, "Arial Black", sans-serif;
    background-color: #FFFFFF;
    color: black;
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
}

h1, p{
    margin-left: 10px;
    margin-right: 10px;
}

#details{
    margin-left: 50px;
}

.show{
    visibility: visible;
}

.hide{
    visibility: hidden;
}