<ion-view title="Buttons" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="list" id="buttons-button2" class=" button button-light  button-block ">Dos</a>
        <a ui-sref="cards" id="buttons-button3" class=" button button-stable  button-block ">Tres</a>
        <a ui-sref="form" id="buttons-button4" style="font-weight:600;border-radius:20px 20px 20px 20px;" class=" button button-assertive  button-block ">Cuatro</a>
        <a ui-sref="toggle" id="buttons-button5" class=" button button-calm  button-block ">Cinco</a>
        <a ui-sref="checkbox" id="buttons-button7" class=" button button-dark  button-block ">seis</a>
        <a ui-sref="radioButton" id="buttons-button1" class=" button button-positive  button-block ">Siete</a>
        <a ui-sref="range" id="buttons-button8" style="border-radius:30px 30px 30px 30px;" class=" button button-balanced  button-block button-outline icon-right ion-android-add-circle ">Ocho</a>
    </ion-content>
</ion-view>