<ion-view title="Cards" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="cards-card21">
            <ion-item class="item-avatar positive  " id="cards-list-item7">
                <h2positive>Item</h2positive>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="cards-list-item-container2">
                <p id="cards-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left assertive  " id="cards-list-item8">
                <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
    </ion-content>
</ion-view>