<ion-view title="Form" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="form-form1" class="list ">
            <label class="item item-input item-stacked-label " id="form-input2" name="name">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Your name">
            </label>
            <label class="item item-input " id="form-input3">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input item-floating-label " id="form-input4">
                <span class="input-label">Email</span>
                <input type="email" placeholder="your email">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="form-toggle1" class=" ">Toggle</ion-toggle>
            <ion-radio id="form-radio1" class=" ">Radio</ion-radio>
            <label class="item item-input " id="form-input1">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>