<ion-view title="List" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="list-list-item-container1">
            <p id="list-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <ion-list id="list-list2" class=" ">
            <ion-item class="item-divider " id="list-list-item-divider1">Item</ion-item>
            <ion-item class="item-icon-left assertive  " id="list-list-item1" href="tel:">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="list-list-item2">
                <i class="icon ion-ionic"></i>Item</ion-item>
            <ion-item class="item-avatar  " id="list-list-item3">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <ion-list id="list-list3" class=" ">
            <ion-item id="list-list-item4" class="  ">Item 1</ion-item>
            <ion-item id="list-list-item5" class="  ">Item 2</ion-item>
            <ion-item id="list-list-item6" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>