<ion-view title="Radio Button" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="radioButton-form4" class="list ">
            <ion-radio id="radioButton-radio2" class=" ">Casa</ion-radio>
            <ion-radio id="radioButton-radio3" class=" ">Apto</ion-radio>
            <ion-radio id="radioButton-radio4" class=" ">Aparta-estudio</ion-radio>
            <ion-radio id="radioButton-radio5" class=" ">Habitación</ion-radio>
        </form>
    </ion-content>
</ion-view>