<ion-view title="Range" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="range-form5" class="list ">
            <ion-item class="range range-positive " id="range-range1">Cantidad
                <input type="range" value="50" min="1" max="2000">
            </ion-item>
            <ion-item class="range range-balanced " id="range-range2">Costo
                <input type="range" value="10" min="100" max="1000">
            </ion-item>
            <ion-item class="range range-positive " id="range-range3">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
    </ion-content>
</ion-view>