<ion-view title="Toggle" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="toggle-form2" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="toggle-toggle2" class=" ">Opción 1</ion-toggle>
            <ion-toggle toggle-class="toggle-balanced" id="toggle-toggle3" class=" ">Opción 2</ion-toggle>
            <ion-toggle toggle-class="toggle-dark" id="toggle-toggle4" class=" ">Opción 3</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="toggle-toggle5" class=" ">Opción 4</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" id="toggle-toggle6" class=" ">Opción 5</ion-toggle>
            <ion-toggle toggle-class="toggle-stable" id="toggle-toggle7" class=" ">Opción 6</ion-toggle>
            <ion-toggle toggle-class="toggle-stable" id="toggle-toggle8" class=" ">Opción 7</ion-toggle>
        </form>
    </ion-content>
</ion-view>