<ion-view title="Cart" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="cart-form2" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <label class="item item-select " id="cart-select1">
                <span class="input-label">Select</span>
                <select>
                    <option>opción 1</option>
                    <option>opción 2</option>
                    <option>opción 3</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>