<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="home-form1" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="home-toggle1" class=" ">Toggle</ion-toggle>
            <ion-radio id="home-radio1" class=" ">Radio</ion-radio>
            <label class="item item-input " id="home-input1">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="home-textarea1">
                <span class="input-label">Text</span><textarea placeholder=""></textarea>
            </label>
        </form>
    </ion-content>
</ion-view>