<ion-view title="Page" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
      <ion-list id="page2-list1" class=" ">
        <ion-item id="page2-list-item1" class="  ">{{magneticHeading}}</ion-item>
        <ion-item id="page2-list-item2" class="  ">{{trueHeading}}</ion-item>
        <ion-item id="page2-list-item3" class="  ">{{accuracy}}</ion-item>
        <ion-item id="page2-list-item4" class="  ">{{timeStamp}}</ion-item>
      </ion-list>
    </ion-content>
</ion-view>
