<ion-view title="Page" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
      <button id="page3-button1" class=" button button-positive  button-block " ng-click="stopDeviceOrientation()">Stop Info</button>

      <ion-list id="page3-list1" class=" ">
            <ion-item id="page3-list-item1" class="  ">{{magneticHeading}}</ion-item>
            <ion-item id="page3-list-item2" class="  ">{{trueHeading}}</ion-item>
            <ion-item id="page3-list-item3" class="  ">{{accuracy}}</ion-item>
            <ion-item id="page3-list-item4" class="  ">{{timeStamp}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
